.upload-image-section {
  border: 1px dashed #6b7aae;
  margin: 1rem 0;
  padding: 10px 20px;
  border-radius: 5px;
}

.upload-image {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 1rem;

  label {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  input {
    padding-left: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    font-weight: bold;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #979be05c;
  }
}